/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: #1C1D20;
    --clr-light: 231 77% 90%;
    --clr-white: #f5f5f7;
    --clr-lightblue: rgb(86, 124, 228);
  
    --apple-green: rgb(52, 199, 89);
    --apple-red: rgb(255, 59, 48);
    --apple-cyan: rgb(50, 173, 230);
    --apple-blue: rgb(0, 122, 255);
    --apple-purple: rgb(88, 86, 214);
    --apple-light-purple: rgb(167, 110, 231);
    --apple-orange: rgb(255, 149, 0);
    --apple-gray: rgb(72, 72, 74);
  
    --gradient-color: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);


    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-logo: 300;

    /* font-families */
    --ff-apple-normal: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--clr-dark);
    font-family: var(--ff-apple-normal);
    color: hsl(var(--clr-dark));
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/**/ 
path,
i,
svg {
    pointer-events: none !important; /* Allows us to tap in the button without tapping in the actual img */
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#logo {
    color: white;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.header__nav {
    position: relative;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    z-index: 10;
}

.header__nav__line1,
.header__nav__line2 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: white;
    pointer-events: none;
}

.slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-white);
    border: 1px solid limegreen;
    background-color: var(--clr-dark) /* must include for blend mode */
}

.section__hero__description {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25rem;
    padding-left: 5rem;
}

.section__hero__img {
    position: relative;
    flex-basis: 25rem;
    overflow: hidden;
}

.section__hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__fashion__span {
    color: var(--apple-orange);
}

.section__mountain__span {
    color: var(--clr-lightblue);
}

.section__hike__span {
    color: var(--apple-light-purple);
}

.section__hero__description p {
    padding: 3rem 0rem;
    color: #fff;
}

.section__explore {
    cursor: pointer;
    padding: 1rem 2rem;
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    align-self: flex-start;
}


/**************** Nav Bar Stuff ****************/
.nav__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%); /*size, at width,*/
    -webkit-clip-path: circle(50px at 100% -10%);
}

.header__nav__burger {
    cursor: pointer;
}

.nav__bar__links {
    flex-basis: 30rem;
    margin-inline: 2em;
}

.nav__bar__links h3 {
    padding: 3rem 0rem;
}

.nav__bar__contact {
    flex-basis: 30rem;
}

.nav__bar__contact h2 {
    padding: 2rem 0rem;
}

.nav__bar__contact p {
    line-height: 1.5rem;
}

/*********************************************/


/**************** Reveal Content ****************/
.reveal-img, .reveal-text {
    position: absolute;
    width: 100%;
    height: 150%;
    background-color: var(--clr-dark);
    left: 0;
    top: -15%;
}

.cursor {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 250ms ease-in-out;
    transition-property: background, transform;
    transform-origin: 75% 75%;
}

.cursor.nav-active {
    background: var(--clr-lightblue);
    transform: scale(3);
}

.cursor.explore-active {
    background-color: #fff;
    transform: scale(3);
}

.cursor__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.5rem;
    transform: translate(-50%, -50%);
}

.section__hero__description__title {
    position: relative;
    overflow: hidden;
}

.section__title__swipe {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: darken;
    transform: translateY(100%);
}

.t-swipe1 {
    background-color: var(--clr-lightblue);
}

.t-swipe2 {
    background-color: var(--apple-light-purple);
}

.t-swipe3 {
    background-color: var(--apple-orange);
}

.scrollmagic-pin-spacer {
    position: static !important;
}










/* typography */

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}
